<!DOCTYPE html>
<html>
	<head>
	    <title>Piloti e Team</title>
		<link rel="stylesheet" href="../css/index.css">
	</head>
	
	<body>
		
		<header>
			<nav class="nav">
				<a href="/admin/adminHomepage" class="nav-link">Home</a>
				<a href="/admin/adminPilotiETeam" class="nav-link">Piloti e Team</a>
				<a href="/granPremi" class="nav-link">Gran Premi</a>
				<a href="/campionati" class="nav-link">Campionato</a>
				<a href="" class="nav-link">Shop</a>
				<a href="/account" class="nav-link">Account</a>
			</nav>
		</header>
		
		<hr>
		
		<main>
			
			<div>
				<h1>Piloti</h1>
				<a href="">Aggiungi Pilota</a>
			</div>
			
			<div>
				<h2>Team</h2>
			</div>
		</main>
		
	</body>
</html>