<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>MotoGP</title>
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<link rel="stylesheet" th:href="@{/css/pilotiETeam.css}">
</head>
<body>
	<nav class="navbar">
		<div class="navbar-container">
			<div class="navbar-logo">
				<a th:if="${isAdmin}" th:href="@{'/'}" th:text="'MotoGP - Admin'"></a>
				<a th:if="${!isAdmin}" th:href="@{'/'}" th:text="'MotoGP'"></a>
			</div>
			<ul class="navbar-menu">
				<li class="navbar-item"><a th:href="@{'/'}">Home</a></li>
				<li class="navbar-item"><a th:href="@{'/pilotiETeam'}">Piloti e Team</a></li>
				<li class="navbar-item"><a th:href="@{'/granPremi'}">Gran Premi</a></li>
				<li class="navbar-item"><a th:href="@{'/campionati'}">Campionato</a></li>
				<li class="navbar-item">
					<a th:if="${isAnonymous}" th:href="'/login'" th:text="'Login/Registrati'"></a>
					<a th:if="${!isAnonymous}" th:href="'/logout'" th:text="${username} + ' - Logout'"></a>
				</li>
			</ul>
		</div>
	</nav>
	<header>
		<h1>Nuovo GranPremio</h1>
	</header>
		
		<section class="formGenerico">
			<h2>Crea nuovo Gran Premio</h2>
			
			<form th:action="@{/admin/formNewGranPremio}" enctype="multipart/form-data" method="POST">
				<div>
			      <label>Numero di giri</label>
			      <span>
			        <input type="text" placeholder="Numero giri" required th:field="${granPremio.numeroDiGiri}"/>
			      </span>
			    </div>
				<div>
			      <label>Data</label>
			      <span>
			        <input type="date" placeholder="Data" required th:field="${granPremio.data}"/>
			      </span>
			    </div>
				
				<!-- Selezione e creazione Circuiti -->
				<div>
			      <label>Circuito</label>
			      
				  <div th:if="${#lists.isEmpty(circuiti)}" class="empty-message">
	                  Nessun circuito disponibile al momento.
	              </div>
				  <div th:if="${not #lists.isEmpty(circuiti)}" class="carousel-container">
					<div class="carousel-track" id="circuitiCarouselTrack">
						<div class="carousel-card" th:each="circuito : ${circuiti}" th:data-id="${circuito.id}">
							<img th:if="${circuito.immagine} != null" th:src="@{'/images/' + ${circuito.immagine}}" alt="Immagine">
							<h5 th:text="${circuito.citta} + ' - ' + ${circuito.paese}">Città Paese</h5>
							<p th:utext="'Lunghezza: ' + ${circuito.lunghezza} + '<br>' +
							              'Larghezza: ' + ${circuito.larghezza} + '<br>' +
							              'Rettilineo: ' + ${circuito.rettilineo} + '<br>' +
							              'Curve a destra: ' + ${circuito.curveDx} + '<br>' +
							              'Curve a sinistra: ' + ${circuito.curveSx}">
							</p> 
						</div>
	              </div>
			    </div>
				
				<!-- Tasto per aggiungere un nuovo circuito -->
				<div>
					<a class="tasto-generico-admin" th:if="${isAdmin}" th:href="@{'/admin/formNewPilota'}"> Aggiungi Nuovo Circuito</a>
				 </div>
			</form>
		</section>
		
	</body>
</html>