<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MotoGP</title>
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <link rel="stylesheet" th:href="@{/css/campionati.css}">
</head>
<body>
<nav class="navbar">
  <div class="navbar-container">
    <div class="navbar-logo">
      <a th:if="${isAdmin}" th:href="@{'/'}" th:text="'MotoGP - Admin'"></a>
      <a th:if="${!isAdmin}" th:href="@{'/'}" th:text="'MotoGP'"></a>
    </div>
    <ul class="navbar-menu">
		<li class="navbar-item"><a th:href="@{'/'}">Home</a></li>
      <li class="navbar-item"><a th:href="@{'/pilotiETeam'}">Piloti e Team</a></li>
      <li class="navbar-item"><a th:href="@{'/granPremi'}">Gran Premi</a></li>
      <li class="navbar-item"><a th:href="@{'/campionati'}">Campionato</a></li>
      <li class="navbar-item">
        <a th:if="${isAnonymous}" th:href="'/login'" th:text="'Login/Registrati'"></a>
        <a th:if="${!isAnonymous}" th:href="'/logout'" th:text="${username} + ' - Logout'"></a>
      </li>
    </ul>
  </div>
</nav>
<header>
  <h1>Nuovo Campionato</h1>
</header>

<section class="formGenerico">
  <h2>Crea Nuovo Campionato</h2>

  <!-- Modulo per la selezione e aggiornamento dell'anno -->
  <div>
    <form th:action="@{/admin/formNewCampionato}" method="GET">
      <div class="selezione-contenitore">
        <label for="anno">Anno</label>
        <select id="anno" name="anno" onchange="this.form.submit()"
                th:required="true" th:value="${annoSelezionato}">
          <option th:each="anno : ${anniDisponibili}" th:value="${anno}"
                  th:text="${anno}" th:selected="${anno == annoSelezionato}"></option>
        </select>
      </div>
    </form>
  </div>

  <div>
    <span th:if="${errorMessage != null}" th:text="${errorMessage}">Errore.</span>
  </div>

  <!-- Modulo principale per creare il campionato -->
  <div th:if="${not #lists.isEmpty(granPremiDisponibili)}">
    <form th:action="@{/admin/formNewCampionato}" method="POST">
      <!-- Campo nascosto per inviare l'anno selezionato -->
      <input type="hidden" name="anno" th:value="${annoSelezionato}" />

      <!-- Campo nascosto per garantire la presenza di granPremi -->
      <input type="hidden" name="granPremi" value="" />

      <label>Seleziona Gran Premi</label>
      <div class="checkbox-contenitore">
        <div class="checkbox-item" th:each="granPremio : ${granPremiDisponibili}">
          <input type="checkbox" th:id="'granPremio-' + ${granPremio.id}"
                 th:name="granPremi" th:value="${granPremio.id}">
          <label th:for="'granPremio-' + ${granPremio.id}"
                 th:text="${'Gran Premio di ' + granPremio.circuito.paese + ' (' + granPremio.data + ')'}"></label>
        </div>
      </div>
      <div>
        <button type="submit">Crea Campionato</button>
        <a th:href="@{/campionati}" class="link"><button type="button">Annulla</button></a>
      </div>
  </form>
  </div>
</section>


<footer>
  <p>© 2025 MotoGP - Tutti i diritti riservati</p>
</footer>

</body>
</html>
