<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MotoGP</title>
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <link rel="stylesheet" th:href="@{/css/pilotiETeam.css}">
</head>
<body>
	<nav class="navbar">
	  <div class="navbar-container">
	    <div class="navbar-logo">
	      <a th:if="${isAdmin}" th:href="@{'/'}" th:text="'MotoGP - Admin'"></a>
	      <a th:if="${!isAdmin}" th:href="@{'/'}" th:text="'MotoGP'"></a>
	    </div>
	    <ul class="navbar-menu">
			<li class="navbar-item"><a th:href="@{'/'}">Home</a></li>
	      <li class="navbar-item"><a th:href="@{'/pilotiETeam'}">Piloti e Team</a></li>
	      <li class="navbar-item"><a th:href="@{'/granPremi'}">Gran Premi</a></li>
	      <li class="navbar-item"><a th:href="@{'/campionati'}">Campionato</a></li>
	      <li class="navbar-item">
	        <a th:if="${isAnonymous}" th:href="'/login'" th:text="'Login/Registrati'"></a>
	        <a th:if="${!isAnonymous}" th:href="'/logout'" th:text="${username} + ' - Logout'"></a>
	      </li>
	    </ul>
	  </div>
	</nav>
	<header>
	  <h1>Nuovo Pilota</h1>
	</header>
	
	<section class="formGenerico">
	  <h2>Aggiungi nuovo Pilota</h2>
	  <form th:action="@{/admin/formNewPilota}" enctype="multipart/form-data" method="POST">
	    <div>
	      <label>Nome</label>
	      <span>
	        <input type="text" placeholder="Nome" required th:field="${pilota.nome}" />
	      </span>
	    </div>
	    <div>
	      <label>Cognome</label>
	      <span>
	        <input type="text" placeholder="Cognome" required th:field="${pilota.cognome}" />
	      </span>
	    </div>
	    <div>
	      <label>Numero</label>
	      <span>
	        <input type="text" placeholder="Numero" required th:field="${pilota.numeroIdentificativo}" oninput="this.value = this.value.replace(/[^0-9]/g, '')" />
	      </span>
	    </div>
	    <div>
	      <label>Data di Nascita</label>
	      <span>
	        <input type="date" placeholder="Data di Nascita" required th:field="${pilota.dataDiNascita}" />
	      </span>
	    </div>
	    <div>
	      <label>Nazionalità</label>
	      <span>
	        <input type="text" placeholder="Nazionalità" required th:field="${pilota.nazionalita}" />
	      </span>
	    </div>
	    <div>
	      <label>Peso (kg)</label>
	      <span>
	        <input type="text" placeholder="Peso" required th:field="${pilota.peso}" oninput="this.value = this.value.replace(/[^0-9]/g, '')" />
	      </span>
	    </div>
	    <div>
	      <label>Altezza (cm)</label>
	      <span>
	        <input type="text" placeholder="Altezza" required th:field="${pilota.altezza}" oninput="this.value = this.value.replace(/[^0-9]/g, '')" />
	  </span>
	    </div>
		  <div class="select-container">
			  <label>Team</label>
			  <span>
	        <select th:field="${pilota.team}">
				<option value="" th:text="'Nessuno'">Nessuno</option>
				<option th:each="team : ${teams}" th:value="${team.id}" th:text="${team.nome}"></option>
	        </select>
	      </span>
		  </div>
	    <div>
	      <label>Foto</label>
	      <span>
	        <input type="file" name="file" accept="image/*"/>
	      </span>
	    </div>
		  <div>
			  <label>Sponsor</label>
			  <div class="checkbox-contenitore">
				  <div class="checkbox-item" th:each="sponsor : ${sponsors}">
					  <input type="checkbox" th:id="'sponsor-' + ${sponsor.id}"
							 th:name="sponsor" th:value="${sponsor.id}">
					  <label th:for="'sponsor-' + ${sponsor.id}"
							 th:text="${sponsor.nome}"></label>
				  </div>
			  </div>
		  </div>

		  <!-- Messaggio di errore -->
	    <div th:if="${messaggioErrore != null}" class="messaggio-errore">
	      <p th:text="${messaggioErrore}"></p>
	    </div>
	
	    <div>
	      <button type="submit">Salva Pilota</button>
	      <a th:href="@{/pilotiETeam}" class="link"><button type="button">Annulla</button></a>
	    </div>
	  </form>
	</section>
	
	<footer>
	  <p>© 2025 MotoGP - Tutti i diritti riservati</p>
	</footer>

</body>
</html>