body {
	font-family: "Arial", "Helvetica", sans-serif;
	color: white;
	background-color: black;
}

.nav {
	align-items: center;
	display: flex;
	justify-content: space-evenly;
	height: 10vh;
	margin-top: 5vh;
}

.nav-link {
	text-decoration: none;
	color: white;
	font-weight: 200;
	font-size: 18px;
}