main {
	position: absolute;
	top: 70%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.title {
	color: #C10000;
	font-size: 40px;
}

.input-field {
	height: 12vh;
	width: 35vw;
}

.input-field input {
	height: 4vh;
	width: 100%;
	margin-top: 1vh;
	padding: 4px 6px;
	font-size: 14px;
	border-radius: 6px;
}

.input-field label {
	text-decoration: none;
	font-weight: 200;
	font-size: 16px;
}

.button {
	text-decoration: none;
	color: white;
	font-weight: 500;
	font-size: 18px;
	background-color:#C10000;
	border: none;
	border-radius: 6px;
	padding: 12px;
	width: 20vw;
}

#forgot-password {
	font-weight: 200;
	font-size: 12px;
	margin-top: 1vh;
	margin-bottom: 4vh;
}

p {
	font-weight: 200;
	font-size: 16px;
}

.link-button {
	color: white;
}