<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MotoGP</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/campionati.css}">
</head>
<body>
<nav class="navbar">
    <div class="navbar-container">
        <div class="navbar-logo">
            <a th:if="${isAdmin}" th:href="@{'/'}" th:text="'MotoGP - Admin'"></a>
            <a th:if="${!isAdmin}" th:href="@{'/'}" th:text="'MotoGP'"></a>
        </div>
        <ul class="navbar-menu">
			<li class="navbar-item"><a th:href="@{'/'}">Home</a></li>
            <li class="navbar-item"><a th:href="@{'/pilotiETeam'}">Piloti e Team</a></li>
            <li class="navbar-item"><a th:href="@{'/granPremi'}">Gran Premi</a></li>
            <li class="navbar-item"><a th:href="@{'/campionati'}">Campionato</a></li>
            <li class="navbar-item">
                <a th:if="${isAnonymous}" th:href="'/login'" th:text="'Login/Registrati'"></a>
                <a th:if="${!isAnonymous}" th:href="'/logout'" th:text="'Logout'"></a>
            </li>
            <li th:if="${!isAnonymous}" class="navbar-item"><a th:href="@{'/user'}" th:text="${username}"></a></li>
        </ul>
    </div>
</nav>

<main>

    <!-- Contenuto principale -->
    <section class="sectionContainer">
            <h2>Campionati</h2>
            <div class="card-container">
                <div class="card">
                    <a th:href="@{/campionatoPiloti}">
                        <div class="card-title">Campionato Piloti</div>
                        <div class="card-text">Consulta la classifica dei piloti per anno.</div>
                    </a>
                </div>
                <div class="card">
                    <a th:href="@{/campionatoTeam}">
                        <div class="card-title">Campionato Team</div>
                        <div class="card-text">Scopri la classifica dei team per anno.</div>
                    </a>
                </div>
                <div class="card">
                    <a th:href="@{/campionatoCostruttori}">
                        <div class="card-title">Campionato Costruttori</div>
                        <div class="card-text">Visualizza la classifica costruttori per anno.</div>
                    </a>
                </div>
            </div>
        <div>
            <a class="tasto-generico-admin" th:if="${isAdmin}" th:href="@{'/admin/formNewCampionato'}"> Crea Nuovo Campionato</a>
        </div>
    </section>


</main>
</body>
</html>
