<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gran Premi</title>
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <link rel="stylesheet" th:href="@{/css/granPremi.css}">
</head>
<body>
<nav class="navbar">
  <div class="navbar-container">
    <div class="navbar-logo">
      <a th:if="${isAdmin}" th:href="@{'/'}" th:text="'MotoGP - Admin'"></a>
      <a th:if="${!isAdmin}" th:href="@{'/'}" th:text="'MotoGP'"></a>
    </div>
    <ul class="navbar-menu">
      <li class="navbar-item"><a th:href="@{'/'}">Home</a></li>
      <li class="navbar-item"><a th:href="@{'/pilotiETeam'}">Piloti e Team</a></li>
      <li class="navbar-item"><a th:href="@{'/granPremi'}" class="active-link">Gran Premi</a></li>
      <li class="navbar-item"><a th:href="@{'/campionati'}">Campionato</a></li>
      <li class="navbar-item">
        <a th:if="${isAnonymous}" th:href="'/login'" th:text="'Login/Registrati'"></a>
        <a th:if="${!isAnonymous}" th:href="'/logout'" th:text="${username} + ' - Logout'"></a>
      </li>
    </ul>
  </div>
</nav>
<header>
  <h1>Qualcosa è andato storto.</h1>
</header>
<main class="error-container">
  <div class="error-content">
    <h2 th:if="${errorMessage != null}" th:text="'Errore ' + ${errorMessage}"></h2>
    <p th:if="${errorMessage != null}" th:text="'Spiacenti, si è verificato un problema. ' ${statusCode} + ' '+ ${errorMessage}"></p>
    <h2 th:if="${errorMessage == null}" th:text="'Errore'"></h2>
    <p th:if="${errorMessage == null}" th:text="'Spiacenti, si è verificato un problema.'"></p>
    <div class="error-actions">
      <a th:href="@{'/'}" class="btn btn-primary">Torna alla Home</a>
    </div>
  </div>
</main>
<footer>
  <p>© 2025 MotoGP - Tutti i diritti riservati</p>
</footer>


</body>
</html>