<!DOCTYPE html>
<html>
	<head>
	    <title>HomePage</title>
		<link rel="stylesheet" href="stile.css">
	</head>
	
	<body>
		
		<header>
			<nav>
				<ul>
					<li><a href="">Home</a></li>
					<li><a href="">Piloti e Team</a></li>
					<li><a href="">Gran Premi</a></li>
					<li><a href="">Campionato</a></li>
					<li><a href="">Shop</a></li>
					<li><a href="">Accedi/Registrati</a></li>
				</ul>
			</nav>
		</header>
		
		<hr>
		
		<main>
			<div>
				<h1>Campionato 2025</h1>
			</div>
			
			<div>
				<h2>Prossimi eventi</h2>
			</div>
			
			<div>
				<h2>Shop</h2>
			</div>
			
			<div>
				<h3>Sponsor</h3>
			</div>
		</main>
		
	</body>
</html>