<!DOCTYPE html>
<html>
	<head>
	    <title>HomePage</title>
		<link rel="stylesheet" href="stile.css">
	</head>
	
	<body>
		
		<header>
			<button>Piloti e Team</button>
			<button>Gran Premi</button>
			<button>Campionato</button>
			<button>Shop</button>
			<button>Accedi / Registrati</button>
		</header>
		
		<main>
			<div>
				<h1>Campionato 2025</h1>
			</div>
			
			<div>
				<h2>Prossimi eventi</h2>
			</div>
			
			<div>
				<h2>Shop</h2>
			</div>
			
			<div>
				<h3>Sponsor</h3>
			</div>
		</main>
		
	</body>
</html>