<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>MotoGP</title>
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<link rel="stylesheet" th:href="@{/css/pilotiETeam.css}">
</head>
<body>
<nav class="navbar">
	<div class="navbar-container">
		<div class="navbar-logo">
			<a th:if="${isAdmin}" th:href="@{'/'}" th:text="'MotoGP - Admin'"></a>
			<a th:if="${!isAdmin}" th:href="@{'/'}" th:text="'MotoGP'"></a>
		</div>
		<ul class="navbar-menu">
			<li class="navbar-item"><a th:href="@{'/'}">Home</a></li>
			<li class="navbar-item"><a th:href="@{'/pilotiETeam'}">Piloti e Team</a></li>
			<li class="navbar-item"><a th:href="@{'/granPremi'}">Gran Premi</a></li>
			<li class="navbar-item"><a th:href="@{'/campionati'}">Campionato</a></li>
			<li class="navbar-item">
				<a th:if="${isAnonymous}" th:href="'/login'" th:text="'Login/Registrati'"></a>
				<a th:if="${!isAnonymous}" th:href="'/logout'" th:text="'Logout'"></a>
			</li>
			<li th:if="${!isAnonymous}" class="navbar-item"><a th:href="@{'/user'}" th:text="${username}"></a></li>
		</ul>
	</div>
</nav>
	<header>
		<h1>Benvenuto su MotoGP</h1>
	</header>
		
		<main>
			<section class="sectionContainer">
				<div>
					<h2>Prossimi eventi</h2>
					<div th:if="${not #lists.isEmpty(granPremi)}" class="carousel-container">
						<div class="carousel-track">
							<div class="carousel-card" th:each="gp : ${granPremi}">
								<a th:href="@{'/granPremio/' + ${gp.id}}">
									<p  th:text="${#temporals.format(gp.data, 'dd/MM/yyyy')}">01/01/2025</p>
									<h5 th:text="'Gran Premio ' + (${gp.sponsor.size() > 0 ? gp.sponsor.get(0).nome : 'Senza Sponsor'}) + ' di ' + ${gp.circuito.paese}">
										Gran Premio NomeSponsor di Paese
									</h5>
								</a>
							</div>
						</div>
					</div>
				</div>
				<div th:if="${classifica != null}">
					<h2>Campionato in corso</h2>
					<table>
						<thead>
						<tr>
							<th>#</th>
							<th>Pilota</th>
							<th>Team</th>
							<th>Punti</th>
						</tr>
						</thead>
						<tbody>
						<tr th:each="entry, iterStat : ${classifica}">
							<td th:text="${iterStat.index + 1}">1</td>
							<td>
								<span th:text="${entry.pilota.nome} + ' ' + ${entry.pilota.cognome}"></span>
							</td>
							<td th:text="${entry.pilota.team?.nome != null ? entry.pilota.team.nome : 'Nessun Team'}">Team</td>
							<td th:text="${entry.puntiTotali}"></td>
						</tr>
						</tbody>
					</table>
				</div>
				<div>
					<h2>Sponsor</h2>
					<div th:if="${not #lists.isEmpty(sponsors)}" class="carousel-container">
						<div class="carousel-track">
							<div class="carousel-card" th:each="sponsor : ${sponsors}">
								<img th:if="${sponsor.immagine} != null" th:src="@{'/images/' + ${sponsor.immagine}}" alt="Immagine">
								<h5 th:text="${sponsor.nome}"></h5>
								<p th:if="${sponsor.descrizione != null}" th:text="${sponsor.descrizione}">Descrizione</p>
								<div th:if="${isAdmin}" class="button-container">
									<a class="tasto-card-admin" th:href="@{'/admin/formUpdateSponsor/' + ${sponsor.id}}">Modifica Sponsor</a>
								</div>
							</div>
							<div class="carousel-card" th:if="${isAdmin}">
								<a th:href="@{/admin/formNewSponsor}">
									<h5>Aggiungi nuovo sponsor</h5>
								</a>
							</div>
						</div>
					</div>
				</div>
			</section>
		</main>
	<footer>
		<p>© 2025 MotoGP - Tutti i diritti riservati</p>
	</footer>
	</body>
</html>