<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MotoGP</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/pilota.css}">
</head>
<body>
    <nav class="navbar">
        <div class="navbar-container">
            <div class="navbar-logo">
                <a th:if="${isAdmin}" th:href="@{'/'}" th:text="'MotoGP - Admin'"></a>
                <a th:if="${!isAdmin}" th:href="@{'/'}" th:text="'MotoGP'"></a>
            </div>
            <ul class="navbar-menu">
                <li class="navbar-item"><a th:href="@{'/'}">Home</a></li>
                <li class="navbar-item"><a th:href="@{'/pilotiETeam'}">Piloti e Team</a></li>
                <li class="navbar-item"><a th:href="@{'/granPremi'}">Gran Premi</a></li>
                <li class="navbar-item"><a th:href="@{'/campionati'}">Campionato</a></li>
                <li class="navbar-item">
                    <a th:if="${isAnonymous}" th:href="'/login'" th:text="'Login/Registrati'"></a>
                    <a th:if="${!isAnonymous}" th:href="'/logout'" th:text="${username} + ' - Logout'"></a>
                </li>
            </ul>
        </div>
    </nav>
    <header>
        <h1 th:text="${pilota.nome} + ' ' + ${pilota.cognome}"></h1>
    </header>

    <main>
        <div class="pilota-container">
            <!-- Nome e numero del pilota -->
            <div class="pilota-header">
                <img th:if="${pilota.immagine} != null" th:src="@{'/images/' + ${pilota.immagine}}" alt="Immagine">
                <h4 th:text="'#' + ${pilota.numeroIdentificativo}"></h4>
                <h2 th:text="${pilota.nome} + ' ' + ${pilota.cognome}"></h2>
                <p th:text="${pilota.team != null ? pilota.nazionalita + ' - ' + pilota.team.nome : pilota.nazionalita}"></p>
            </div>

            <!-- Dettagli della stagione in corso -->
            <div class="section">
                <h3>Stagione in Corso</h3>
                <table>
                    <thead>
                    <tr>
                        <th>Posizione</th>
                        <th>Punti</th>
                        <th>Vittorie</th>
                        <th>Podi</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td th:text="${posizione}">N/A</td>
                        <td th:text="${punti}">N/A</td>
                        <td th:text="${vittorieCampionato}">N/A</td>
                        <td th:text="${podiCampionato}">N/A</td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <!-- Sezione Compagno di squadra -->
            <div class="section teammate">
                <h3>Compagno di Squadra</h3>
                <a th:if="${compagnoDiSquadra != null}" th:href="@{'/pilota/' + ${compagnoDiSquadra.id}}">
                    <p th:text="${compagnoDiSquadra.nome} + ' ' + ${compagnoDiSquadra.cognome} + ' - #' + ${compagnoDiSquadra.numeroIdentificativo}"></p>
                </a>
                <p th:if="${compagnoDiSquadra == null}">Nessun compagno di squadra disponibile</p>
            </div>

            <!-- Dettagli totali -->
            <div class="section">
                <h3>Statistiche</h3>
                <table>
                    <thead>
                    <tr>
                        <th>Partecipazioni</th>
                        <th>Vittorie</th>
                        <th>Podi</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td th:text="${partecipazioniTotali}">N/A</td>
                        <td th:text="${vittorieTotali}">N/A</td>
                        <td th:text="${podiTotali}">N/A</td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <!-- Dettagli totali -->
            <div class="section">
                <h3>Informazioni</h3>
                <table>
                    <thead>
                    <tr>
                        <th>Data di nascita</th>
                        <th>Altezza</th>
                        <th>Peso</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td th:text="${#temporals.format(pilota.dataDiNascita, 'dd/MM/yyyy')}">N/A</td>
                        <td th:text="${pilota.altezza} + 'cm'">N/A</td>
                        <td th:text="${pilota.peso} + 'kg'">N/A</td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div th:if="${pilota.sponsor!=null and !pilota.sponsor.isEmpty()}" th:each="sponsor : ${pilota.sponsor}">
                <p th:text="${sponsor.nome}"></p>
            </div>

            <div class="tasto-center-container">
                <a class="tasto-generico-admin" th:if="${isAdmin}" th:href="@{'/admin/formUpdatePilota/' + ${pilota.id}}">Modifica Pilota</a>
            </div>

        </div>
    </main>
    <footer>
        <p>© 2025 MotoGP - Tutti i diritti riservati</p>
    </footer>
</body>
</html>