<!DOCTYPE html>
<html>
	<head>
	    <title>Login</title>
		<link rel="stylesheet" href="css/index.css">
	</head>
	
	<body>
		
		<header>
					
			<nav class="nav">
				<a href="/" class="nav-link">Home</a>
				<a href="/pilotiETeam" class="nav-link">Piloti e Team</a>
				<a href="" class="nav-link">Gran Premi</a>
				<a href="" class="nav-link">Campionato</a>
				<a href="" class="nav-link">Shop</a>
				<a href="/login" class="nav-link">Accedi/Registrati</a>
			</nav>
		</header>
		
		<hr>
		
		<main>
			<div>
				<h1id="title">Accedi</h1>
				
				<form th:action="@{/register}" method="post">
					<div>
						<label for="username">Nome</label>
						<input type="text" name="name" id="name" required>
					</div>
					<div>
						<label for="username">Cognome</label>
						<input type="text" name="surname" id="surname" required>
					</div>
					<div>
						<label for="username">Email</label>
						<input type="text" name="email" id="email" required>
					</div>
					<div>
						<label for="username">Username</label>
						<input type="text" name="username" id="username" required>
					</div>
					
					<div>
						<label for="password">Password</label>
						<input type="password" name="password" id="password" required>
					</div>
					
					<div>
						<button type="submit" class="button">Accedi</button>
					</div>
				</form>
				
				<p>
					Hai già un account?
					<a href="/login">Accedi</a>
				</p>
			</div>
		</main>
	</body>
</html>