<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MotoGP</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/pilota.css}">
</head>
<body>
    <nav class="navbar">
        <div class="navbar-container">
            <div class="navbar-logo">
                <a th:if="${isAdmin}" th:href="@{'/'}" th:text="'MotoGP - Admin'"></a>
                <a th:if="${!isAdmin}" th:href="@{'/'}" th:text="'MotoGP'"></a>
            </div>
            <ul class="navbar-menu">
                <li class="navbar-item"><a th:href="@{'/'}">Home</a></li>
                <li class="navbar-item"><a th:href="@{'/pilotiETeam'}">Piloti e Team</a></li>
                <li class="navbar-item"><a th:href="@{'/granPremi'}">Gran Premi</a></li>
                <li class="navbar-item"><a th:href="@{'/campionati'}">Campionato</a></li>
                <li class="navbar-item">
                    <a th:if="${isAnonymous}" th:href="'/login'" th:text="'Login/Registrati'"></a>
                    <a th:if="${!isAnonymous}" th:href="'/logout'" th:text="${username} + ' - Logout'"></a>
                </li>
            </ul>
        </div>
    </nav>
    <header>
        <h1 th:text="${team.nome}"></h1>
    </header>

    <main>
        <div class="pilota-container">
            <!-- Nome del team -->
            <div class="pilota-header">
                <img th:if="${team.immagine} != null" th:src="@{'/images/' + ${team.immagine}}" alt="Immagine">
                <h2 th:text="${team.nome}"></h2>
                <p th:if="${team.marcaMoto != null}" th:text="'Costruttore ' + ${team.marcaMoto}"></p>
            </div>

            <!-- Piloti del team -->
            <div class="section teammate">
                <h3>Piloti del Team</h3>
                <div th:if="${team.pilotiUfficiali != null}">
                    <ul class="pilot-list">
                        <li th:each="pilota : ${team.pilotiUfficiali}">
                            <a th:href="@{'/pilota/' + ${pilota.id}}" 
                               th:text="${pilota.nome} + ' ' + ${pilota.cognome} + ' - #' + ${pilota.numeroIdentificativo}">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="section" th:if="${team.sponsor != null and !team.sponsor.isEmpty()}">
                <h3>Sponsor</h3>
                <ul class="sponsor-list">
                    <li th:each="sponsor : ${team.sponsor}">
                        <strong th:text="${sponsor.nome}">Nome Sponsor</strong>
                    </li>
                </ul>
            </div>
            <div class="tasto-center-container">
                <a class="tasto-generico-admin" th:if="${isAdmin}" th:href="@{'/admin/formUpdateTeam/' + ${team.id}}">Modifica Team</a>
            </div>
        </div>
    </main>
    <footer>
        <p>© 2025 MotoGP - Tutti i diritti riservati</p>
    </footer>
</body>
</html>